/* Footer */
footer {
  position: relative;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: top;
  display: flex;
  height: var(--footer-height);
  background: linear-gradient(to bottom, transparent, white);
}

footer button {
  font-weight: bold;
  height: 80%;
  padding: 0 2rem;
  background: var(--clear-button-background);
  color: var(--clear-button-text);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}