:root {
  --link-color: dodgerblue;

  --border-radius: 0.25rem;

  --toast-offset: 1rem; /* Keep away from edge of viewport */

  --info-toast-background: #777;
  --warning-toast-background: orange;
  --main-toast-background: red;

  --toast-close-button-background: #ddd;
  --toast-action-button-background: var(--link-color);
  --toast-action-button-color: white;

  --header-background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  --header-text: white;
  --header-height: 4rem;

  --footer-height: 4rem;
  --clear-button-background: var(--header-background);
  --clear-button-text: white;
}