:root {
  --toast-offset: 1rem; /* Keep away from edge of viewport */
}

body {
  font-family: monospace;
}

button:active {
  transform: scale(0.95);
}

/* Container for the toasts */
.toast-container {
  position: fixed;
  bottom: var(--toast-offset);
  right: var(--toast-offset);
  width: calc(100% - calc(var(--toast-offset) * 2));
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Styling configuration for each type of toast */
.toast-info {
  --icon-color: #777;
  --undo-color: orangered;
}

/* Styling for individual toasts */
.toast {
  flex: none;
  display: flex;
  align-items: center;
  border: 1px solid var(--icon-color);
  background: white;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  animation: slideToast 500ms ease-out;
}

.toast > *:not(:last-child) {
  margin-right: 0.5rem;
}

.toast + .toast {
  margin-top: 0.5rem;
}

@keyframes slideToast {
  from {
    transform: translateX(calc(100% + var(--toast-offset)));
    opacity: 0;
  }
}

/* Icon indicating the type of toast */
.toast-icon {
  flex: none;
  align-self: stretch;
  width: 2.5rem;
  background: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-icon svg {
  width: 1rem;
  height: 1rem;
  fill: rgba(255, 255, 255, 0.8);
}

/* The actual toast message */
.toast-text {
  flex: auto;
}

/* When present, style the close button */
.toast-close-button {
  flex: none;
  width: 2rem;
  height: 2rem;
  background-image: url("../assets/cross.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.toast-action-button {
  background: var(--undo-color);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}