/* Container for the toasts */
.toast-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Styling configuration for each type of toast */
.toast-info {
  --main-toast-color: var(--info-toast-background);
}

.toast-warning {
  --main-toast-color: var(--warning-toast-background);
}

.toast-alert {
  --main-toast-color: var(--main-toast-background);
}

/* Styling for individual toasts */
.toast {
  flex: none;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-toast-color);
  background: white;
  border-radius: var(--border-radius);
  animation: slideToast 500ms ease-out;
}

.toast > * {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.toast + .toast {
  margin-top: 0.5rem;
}

@keyframes slideToast {
  from {
    transform: translateX(calc(100% + var(--toast-offset)));
    opacity: 0;
  }
}

/* Icon indicating the type of toast */
.toast-icon {
  margin-top: 0;
  margin-bottom: 0;
  flex: none;
  align-self: stretch;
  width: 2.5rem;
  background: var(--main-toast-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-icon svg {
  width: 1rem;
  height: 1rem;
  fill: rgba(255, 255, 255, 0.8);
}

/* The actual toast message */
.toast-text {
  flex: auto;
}

/* Buttons and links inside the toast */
.toast-link {
  white-space: nowrap;
}

.toast-close-button {
  flex: none;
  background: var(--toast-close-button-background);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../assets/cross.svg");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
}

.toast-action-button {
  background: var(--toast-action-button-background);
  color: var(--toast-action-button-color);
  padding: 0 0.5rem;
  height: 1.5rem;
  border-radius: var(--border-radius);
}